<div class="row">
    <div class="col-md-6">
        <%= image_tag("landing_page.png", :class => "h-100 w-100" )%>
    </div>
    <div class="col-md-6 mt-4">
        <% flash.each do |type, msg| %>
            <div>
                <%= msg %>
            </div>
        <% end %>
        <%= render "form" %>
    </div>
</div>