table.table
  thead
    tr.text-center
      th[scope="col"]
        | ID
      th[scope="col"]
        | Name
      th[scope="col"]
        | Email
      th[scope="col"]
        | Description
      th[scope="col"]
        | Total transactions sum
      th[scope="col"]
        | Status
      th[scope="col"]
        | Created at
      th[scope="col" colspan="3"]
        | Actions
  tbody
    - @merchants.each do |merchant|
      tr.text-center
        th[scope="row"]
          =merchant[:id]
        td
          =merchant.name
        td
          =merchant.email
        td
          =merchant.description
        td
          =merchant.total_transaction_sum
        td
          =merchant.status
        td
          =merchant.created_at
        td
          = link_to 'Edit', edit_merchant_path(merchant), class: 'btn btn-success'
        td
          = link_to 'Delete', merchant_path(merchant), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger'
= will_paginate @merchants
