<div class="container">
    <div class="row mb-5">
        <%= render partial: 'shared/navbar' %>
    </div>
    <div class="row">
        <%= render partial: 'shared/flash' %>
        <%= render partial: 'form', merchant: @current_merchant %>
    <div>
</div>
